.cardnewPage {
  margin-top: 50px;
  background-color: lightgray;
  width: 60vw;
  margin-right: auto;
  margin-left: auto;
}

.cardnewForm_memo {
  margin-top: 30px;
}

.form-control {
  padding: 10px;
}